<div>

	<a class="highlight" href="{{ base_url }}">{{ settings.title|title }}</a>

	{% for crumb in breadcrumb %}
		&nbsp;&nbsp;/&nbsp;&nbsp; 
		{% if loop.last %}
			{{ crumb.name|title }}
		{% else %}
			<a class="highlight" href="{{ crumb.urlRel }}">{{ crumb.name|title }}</a>
		{% endif %}
	{% endfor %}
	
</div>