<div class="w-100 bg-custom-blue pa2 pa5-m pa5-l">

	<div class="mw8 center">
			<input type="text" class="center w-100 bw0 pa3 mb2" id="searchinput" placeholder="{{ settings.themes.knowledge.searchplaceholder }}">
	</div>

	<div class="flex-l mw8 center mt2-m mt2-l">

		<article class="w-70-l bg-white pv5 ph4 ph5-l lh-copy mv1">

			{% include 'partials/breadcrumb.twig' %}

			<h1>{{ title }}</h1>
						
			{{ content }}

			<section>

				<ul class="list pl0 pv3">

					{% for element in item.folderContent %}

						{% set post = getPageMeta(settings, element) %}
						{% set date = element.order[0:4] ~ '-' ~ element.order[4:2] ~ '-' ~ element.order[6:2] %}

						<li class="dib w-100 bt b--light-gray pv3">
							<a class="link dark-gray hover-dark-gray" href="{{ element.urlAbs }}">
								<h2 class="mb2">{{ post.meta.title }}</h2>
							</a>
							<small class="gray">{{ post.meta.author }} | {{ date | date("d.m.Y") }}</small>
							<p class="mv3">{{ post.meta.description }}</p>
						</li>

								
					{% endfor %}
					
				</ul>

			</section>

		</article>

		<aside class="w-100 w-30-l">

			<nav id="navigation" class="center">
				{% include 'partials/navigation.twig' with { 'navclass' : 'w-100', 'navclassinner' : 'pa3 pa4-m pa4-l bg-white mv1 ml1-l'} %}
			</nav>

		</aside>
	</div>
</div>